html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #71bcff;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #71bcff;
  color: #ffffff;
}

.footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

button.primary1 {
  background-color: #f0c040;
}

button.block1 {
  width: 100%;
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
  padding-top: 150px;
}

.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */
img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-height: 250px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 15px;
}

img.large {
  width: 70%;
  max-width: 400px;
  max-height: 500px;
  padding-left: 100px;
}

img.homeimage {
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

/* ALert */
.loading {
  display: block !important;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

/*Sign In Form */
.form {
  background-image: url("https://www.filepicker.io/api/file/Eb3tvmj3QpWhxfaSTcUI");
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  margin-left: 28%;
  margin-right: auto;
}

.container {
  margin: auto;
  background-color: burlywood;
  width: 18%;
  height: fit-content;
  display: flex; 
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px; 
}  

.LoginButton {
  background: aquamarine;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: blue;
}

.RegisterButton {
  background: aquamarine;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: blue;
}

.signSwap {
  border-radius: 5px;
  width:100%;
  height: 30px;
  border: 4px solid;
  margin-top: 15px;
  background: pink;
  border-color: violet;
  text-align: center;
}

.Overlogo {
  text-align: center;
}

input {
  width: 90%;
}

/* Profile */

.profile_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.UpdateButton {
  background: aquamarine;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: blue;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
